	<div class="post-meta">
		{{ if .Params.Date }}
		<span class="post-date">
			{{ .Date.Format "2006-01-02" }}
		</span>
		{{ end }}
		{{ if .Params.Author }}
		{{ with .Params.Author }}
		<span class="post-author">::
			<a href="{{ (urlize (printf "author/%s/" . )) | absLangURL }}">{{ . }}</a>
		</span>
		{{ end }}
		{{ end }}
	</div>

	{{ if .Params.tags }}
	<span class="post-tags">
		{{ range .Params.tags }}
		#<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
		{{ end }}
	</span>
	{{ end }}