	<div class="post-meta">
		{{ with .Params.Date }}
		<span class="post-date">
			{{ .Format "2006-01-02" }}
		</span>
		{{ end }}
		{{ if .Params.Authors }}
			{{ range .Params.Authors }}
			<span class="post-author">::
				<a href="{{ (urlize (printf "author/%s/" . )) | absLangURL }}">{{ . }}</a>
			</span>
			{{ end }}
		{{ end }}
		{{ with .Params.email }}
		<span class="post-email">
			<a href="mailto:{{ . }}">{{ . }}</a>
		</span>
		{{ end }}
	</div>

	{{ if .Params.tags }}
	<span class="post-tags">
		{{ range .Params.tags }}
		#<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
		{{ end }}
	</span>
	{{ end }}
