{{ define "main" }}

<div class="posts">

	<div class="post">

		<h1 class="post-title">
			<a href="../authors">Authors</a>
		</h1>

		{{ with .Site.Taxonomies.authors }}

		<section class="post-meta">
			{{ range $name, $value := . }}
			<span class="post-author">
				<a href="{{ (urlize (printf "authors/%s/" $name)) | absLangURL }}">{{ ($name | humanize) | title }}</a>
				<small>({{ .Count }})</small>&nbsp
			</span>
			{{ end }}
		</section>

		{{ end }}

	</div>

	<div class="post">

		<h1 class="post-title">
			<a href="../tags">Tags</a>
		</h1>

		{{ with .Site.Taxonomies.tags }}

		<section class="post-tags">
			{{ range $name, $value := . }}
			<span>
				#<a href="{{ (urlize (printf "tags/%s/" $name)) | absLangURL }}">{{ $name }}</a>
				<small>({{ .Count }})</small>&nbsp
			</span>
			{{ end }}
		</section>

		{{ end }}
		
	</div>

	{{ partial "swipe-section" . }}

</div>

{{ end }}
